html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  @include flexbox(
    $placeItems: center,
    $placeContent: center,
    $direction: column,
    $wrap: wrap
  );
}

.section-container {
  margin: 1em;
}

.blue {
  background-color: aqua;
}

.panel {
  scroll-snap-align: start;
  height: 100vh;
}

.red {
  background-color: #cf3535;
  background-image: none;
}

.panel p {
  font-size: 32px;
}

.orange {
  background-color: orange;
}
