/* * * * GLOBAL * * * */
// .bird-box {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 1024px;
//   height: 100%;
//   overflow: hidden;
// }

// Revision below
// .forest-image,
// .rocks-and-water {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
// }

/* * * * * * * * * * * * * * FOREST PARALLAX * * * * * * * * * * * * * * */
.forest #header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  @include flexbox($placeItems: center, $placeContent: space-between);
  z-index: 10;
}

.forest #header .logo {
  font-family: $tutFont;
  color: #094b65;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

.forest #header ul {
  @include flexbox(
    $placeItems: center,
    $placeContent: center,
    $direction: row,
    $wrap: wrap
  );
}

.forest #header ul li {
  list-style: none;
  margin-left: 20px;
}

.forest #header ul li a {
  padding: 6px 15px;
  color: #094b65;
  border-radius: 20px;
}

.forest #header ul li a:hover,
.forest #header ul li a.active {
  color: #fff;
  background: #094b65;
}

.forest section {
  position: relative;
  width: 100%;
  height: 100vh;
  @include flexbox($placeItems: center, $placeContent: center);
}

.forest section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #094b65, transparent);
  z-index: 10;
}

.forest section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.forest section #text {
  position: absolute;
  color: #094b65;
  font-size: 8vw;
  text-align: center;
  line-height: 0.55em;
  font-family: $tutFont2;
  transform: translateY(-220%);
}

.forest section #text span {
  font-size: 0.2em;
  letter-spacing: 2px;
  font-weight: 400px;
  font-family: $tutFont;
}

.forest #btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  background: #fff;
  color: #094b65;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  transform: translateY(100px);
}

.forest .sec {
  position: relative;
  padding: 100px;
  background: #094b65;
}

.forest .sec h2 {
  font-size: 3.5em;
  color: #fff;
  margin-bottom: 10px;
}

.forest .sec p {
  font-size: 1em;
  color: #fff;
}

/* * * * MEDIA QUERIES FOREST * * * */
@media only screen and (max-width: 500px) {
  // #094b65 - blue

  .header {
    background: #094b65;
    color: #fff;
    padding: 15px 20px;
  }

  .forest #header .logo {
    font-size: 1.1em;
  }
  .forest #header {
    padding: 10px 20px;
  }

  .forest section #text {
    transform: translateY(10%);
  }

  .forest section #text {
    font-size: 20vw;
  }
}
/* * * * * * * * * * * * * * FOREST END * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * MOUNTAIN PARALLAX * * * * * * * * * * * * * * */
.mountain section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @include flexbox(
    $placeItems: center,
    $placeContent: center,
    $direction: column,
    $wrap: wrap
  );
}

.mountain section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, #fff, transparent);
  z-index: 10;
}

.mountain section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.mountain section img#man {
  transform-origin: bottom;
}

.mountain #text {
  position: relative;
  font-size: 8vh;
  color: #fff;
  font-family: $tutFont;
  margin-bottom: 2em;
  text-transform: uppercase;
  text-shadow: $black 2px 2px 2px;
}

.mountain .sec {
  position: relative;
  padding: 100px;
}

.mountain .sec h2 {
  font-size: 3em;
  font-family: $headingFont2;
  margin-bottom: 10px;
  color: #20496a;
  text-shadow: none;
}

.mountain .sec p {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #20496a;
}
