// * * * * COLOURS
$primary: maroon;
$secondary: firebrick;
$third: moccasin;
$accent: aquamarine;
$black: #0c0a0a;

// * * * * FONTS
$fontSize: 2rem;
$lineHeight: 2rem;
$headingFont: "Chewy", cursive;
$headingFont2: "Kreon", cursive;
$bodyFont: "Open Sans", sans-serif;
